---
import { services } from "../../data/services";
import ServiceCard from "./ServiceCard.astro";
---

<section
  id="services"
  class="py-24 border-t border-zinc-800 bg-zinc-950"
>

  <div class="max-w-7xl mx-auto px-6">

    <div class="text-center mb-14">

      <p class="uppercase tracking-[0.3em] text-blue-400 text-sm font-semibold">
        Services
      </p>

      <h2 class="mt-4 text-4xl font-bold">
        {services.title}
      </h2>

      <p class="mt-6 text-zinc-400 max-w-3xl mx-auto">
        {services.description}
      </p>

    </div>

    <div class="grid md:grid-cols-2 lg:grid-cols-3 gap-8">

      {
        services.items.map((service) => (
          <ServiceCard service={service} />
        ))
      }

    </div>

  </div>

</section>