@import "tailwindcss";

html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
}

/* Mobile */

section[id] {
  scroll-margin-top: 39px;
}

/* Tablet */

@media (min-width: 768px) {
  section[id] {
    scroll-margin-top: 5rem;
  }
}

/* Large Desktop */

@media (min-width: 1024px) {
  section[id] {
    scroll-margin-top: 1rem;
  }
}