---

---

<footer class="mt-24 border-t border-zinc-800">
  <div class="max-w-7xl mx-auto flex flex-col items-center justify-between px-6 py-8 md:flex-row">

    <div>
      <h3 class="text-lg font-bold">
        Sardar Anonymous
      </h3>

      <p class="text-sm text-zinc-400">
        Web Application Penetration Tester • Bug Bounty Hunter
      </p>
    </div>

    <p class="mt-4 text-sm text-zinc-500 md:mt-0">
      © {new Date().getFullYear()} Sardar Anonymous. All Rights Reserved.
    </p>

  </div>
</footer>