---
import { timeline } from "../../data/timeline";
---

<div
  class="relative border-l border-blue-600 ml-3"
>

  {
    timeline.map((item) => (

      <div
        class="relative pl-10 pb-12"
      >

        <span
          class="absolute -left-[10px] top-1 w-5 h-5 rounded-full bg-blue-500 border-4 border-zinc-950"
        ></span>

        <p
          class="text-blue-400 font-semibold text-sm uppercase tracking-widest"
        >
          {item.year}
        </p>

        <h4
          class="mt-2 text-xl font-semibold text-white"
        >
          {item.title}
        </h4>

      </div>

    ))
  }

</div>