---
import MainLayout from "../layouts/MainLayout.astro";

import Navbar from "../components/layout/Navbar.astro";
import Footer from "../components/layout/Footer.astro";

import Hero from "../components/hero/Hero.astro";
---

<MainLayout>

  <Navbar />

  <main>

    <Hero />

  </main>

  <Footer />

</MainLayout>